name: Build and deploy main

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: nais/docker-build-push@v0
        id: docker-push
        with:
          team: aap
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          dockerfile: Dockerfile
          docker_context: .
    outputs:
      image: ${{ steps.docker-push.outputs.image }}
      telemetry: ${{ steps.docker-push.outputs.telemetry }}

  deploy-dev:
    needs: build-and-push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: nais/deploy/actions/deploy@v2
        env:
          PRINT_PAYLOAD: true
          CLUSTER: dev-gcp
          RESOURCE: .nais/dev.yaml
          IMAGE: ${{ needs.build-and-push.outputs.image }}
          TELEMETRY: ${{ needs.build-and-push.outputs.telemetry }}